.codebox {
	border:1px solid black;
	background-color:#EEEEFF;
	width:50%;
	overflow-x: auto;
	white-space: code;
	padding:10px;
}
.codebox code{
	font-size:0.9em;
}
.codeboxML {
	border:1px solid black;
	background-color:#EEEEFF;
	white-space: pre-line;
	padding:10px;
	font-size:0.9em;
	display: inline;
}
.codeboxLite {
	border:1px solid black;
	background-color:#EEEEFF;
	width:auto;
	padding:auto;
}
.codeboxAuto {
	border:1px solid black;
	background-color:#EEEEFF;
	width:auto;
	padding:10px;
}
.codeboxAuto code{
	font-size:0.9em;
}
#images {
	width: 50%;
	margin:0;
	text-align: left;
}